<div class="main" ng-model="height" element-size layout-margin layout-padding layout-wrap layout-align="center start" flex >
    <div layout="column" layout-wrap layout-align="center center" flex ng-if="!vm.rescueDogs || vm.rescueDogs.length == 0">
        <div><h1>Your Rescue Dogs</h1></div>
        <div>You have not selected any rescue dogs to track.</div>
    </div>
    <div layout="row" layout-align="center center">
        <div ng-show="vm.rescueDogs && vm.rescueDogs.length !== 0" layout-wrap layout-align="center start" flex>
            <div layout="column" layout-margin layout-padding layout-align="center center">
                <div><h1>Your Rescue Dogs</h1></div>
                <div><strong>Here is the list of adoptable dogs you have selected to track.<br>To remove a dog from your list, simply click on the broken heart.</strong></div>
            </div>
            <div layout="row" layout-align="center start" layout-wrap>
                <md-card class="rescue-card" ng-repeat="dog in vm.rescueDogs">
                    <md-card-title>
                        <md-card-title-text class="md-headline">{{ dog.name.$t }}</md-card-title-text>
                        <md-card-title-media>
                            <md-button ng-click="vm.deleteRescue(dog.id.$t)">
                                <i class="mdi mdi-36px mdi-heart-broken"></i>
                                <md-tooltip>Remove</md-tooltip>
                            </md-button>
                        </md-card-title-media>
                    </md-card-title>
                    <div layout="row" layout-margin layout-sm="column" layout-xs="column">
                        <div layout="column" class="md-media-xl card-media" flex="45" layout-margin>
                            <img class="main-photo" ng-src="{{ dog.mainPhoto }}">
                        </div>
                        <div layout="column" flex>
                            <div layout="row" layout-margin layout-padding layout-xs="column">
                                <div layout="column">
                                    <div class="rescue-heading" layout="row">
                                        Breed
                                    </div>
                                    <div layout="row" ng-repeat="breed in dog.breeds.breed">
                                        {{ breed.$t }}
                                    </div>
                                </div>
                                <div layout="column">
                                    <div class="rescue-heading"  layout="row">
                                        Age
                                    </div>
                                    <div layout="row">
                                        {{ dog.age.$t }}
                                    </div>
                                </div>
                                <div layout="column">
                                    <div class="rescue-heading" layout="row">
                                        Sex
                                    </div>
                                    <div layout="row">
                                        {{ dog.sex.$t }}
                                    </div>
                                </div>
                                <div layout="column">
                                    <div class="rescue-heading" layout="row">
                                        Size
                                    </div>
                                    <div layout="row">
                                        {{ dog.size.$t }}
                                    </div>
                                </div>
                                <div layout="column">
                                    <div class="rescue-heading" layout="row">
                                        Status
                                    </div>
                                    <div layout="row">
                                        {{ dog.status.$t }}
                                    </div>
                                </div>
                            </div> <!-- end row -->
                            <div layout="row">
                                <div ng-repeat="photo in dog.photos" layout-margin>
                                    <img class="photos" ng-src="{{ photo }}">
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div layout="row" layout-margin layout-padding>
                        {{ dog.description.$t }}
                    </div>
                    <div layout="row"  layout-margin layout-xs="column">
                        <div ng-show="dog.hasOptions" flex="40">
                            <div layout="column" ng-show="dog.option">
                                <i class="mdi mdi-checkbox-multiple-marked-circle"></i>&nbsp; {{ dog.option }}
                            </div>
                            <div layout="column" ng-show="!dog.option ">
                                <div layout="row" ng-repeat="option in dog.options.option">
                                    <i class="mdi mdi-checkbox-multiple-marked-circle"></i>&nbsp; {{ option.$t }}
                                </div>        
                            </div>
                        </div>
                        <div layout="column" flex="40">
                            <span class="rescue-heading">
                                Contact Information
                            </span>
                            <span ng-if="dog.contact.address1.$t">
                                {{ dog.contact.address1.$t }}
                            </span>
                            <span ng-if="dog.contact.address2.$t">
                                {{ dog.contact.address2.$t }}
                            </span>
                            <span ng-if="dog.contact.city.$t || dog.contact.state.$t || dog.contact.zip.$t">
                                {{ dog.contact.city.$t }},&nbsp; {{ dog.contact.state.$t }}&nbsp;&nbsp;{{ dog.contact.zip.$t }}
                            </span>
                            <span ng-if="dog.contact.email.$t">
                                {{ dog.contact.email.$t }}
                            </span>
                            <span ng-if="dog.contact.phone.$t">
                                <i class="mdi mdi-phone-classic"></i> {{ dog.contact.phone.$t }}
                            </span>         
                        </div>
                        <div layout="column" flex="20">
                            <div class="rescue-heading" layout="row">
                                Last Updated
                            </div>
                            <div layout="row">
                                {{ dog.lastUpdate.$t }}
                            </div>
                        </div>
                    </div>
                    </div>
                </md-card>
            </div>
        </div>
    </div>
</div>