<!-- CARD CONTENT -->
<div flex="100">
    <div class="best-of-directions" layout="row" layout-align="center center" layout-margin layout-padding>
        Click on the BREED NAME to view more details on the breed.
    </div>
    <div class="breeds-directions" ng-show="vm.currentUser.isAuthenticated" layout="row" layout-align="center center" layout-margin>
        <img src="/images/paw_gold.png"> indicates a favorite breed.
        Add or remove a breed from your list by clicking on the PAW in front of a breed name.
    </div>
    <div class="breeds-directions" ng-show="!vm.currentUser.isAuthenticated" layout="row"  layout-align="center center" layout-margin>
        SIGN IN or SIGN UP to save breeds and rescues to your personal favorites list.
    </div> 
    <md-content layout="row" layout-align="center" layout-wrap layout-margin layout-padding key="contentSize" element-size>
        <md-card class="breed-card" flex="15" ng-repeat="dog in vm.dogs" ng-if="vm.dogs">  
            <md-card-content>
                <div>
                    <a ng-href="{{ dog.imageRef }}" title="{{ dog.imageTitle }}" target="_blank">
                        <img ng-src="{{ dog.imageURL }}" ng-show="dog.imageURL != ''" alt="{{ dog.breed }}" ng-click="vm.getDog( dog._id )">
                        <img ng-src="{{ dog.imageURL2 }}" ng-show="dog.imageURL == '' && dog.imageURL2 != ''" alt="{{ dog.breed }}" ng-click="vm.getDog( dog._id )">
                        <img ng-src="/images/NoPhoto.png" ng-show="dog.imageURL=='' && dog.imageURL2==''" alt="{{ dog.breed }}" ng-click="vm.getDog( dog._id )">
                    </a>
                </div>
                <div layout="row" layout-padding layout-align="center center">
                    <span class="{{ dog.favClass }}" id="{{dog._id}}" ng-click="vm.toggleFavorite(dog._id, dog.breed)"></span>
                    <a ui-sref="detail({ id: dog._id })">{{ dog.breed }}</a>
                </div>
                <div layout="row" layout-padding layout-align="center center">
                    {{ dog.shortDesc }}
                </div>
           </md-card-content> 
        </md-card>
    </md-content>
</div>
<!-- We need to have this here so that the dynamic back-to-top button works properly -->
<div layout="row" flex layout-align="end center" ng-show="vm.height < contentSize.height+vm.offset || vm.showBackToTop">
    <md-button ng-click="vm.toTop()"><i class="mdi mdi-chevron-double-up"></i>Back To Top</md-button> 
</div>
<div class="footer">
    <footer-bar></footer-bar>
</div>
