<!-- CARD CONTENT -->
<div>
    <toolbar></toolbar>
</div>
<md-content class="main" ng-model="height" element-size layout="row" layout-wrap >
     <div layout="column" flex="25" layout-margin>
        <div>
            <div layout-padding hide show-gt-md>
                <a href="https://www.petfinder.com" target="_blank"><img src="https://www.petfinder.com/banner-images/widgets/23.jpg" border="0" alt="Pet Adoption" /></a>
            </div>
            <div ng-hide="vm.haveRescues"> 
                <p class="center"><md-button ng-click="vm.getAdoptables(vm.dog.breed)" class="md-raised md-primary md-ink">Find Rescues</md-button></p>
            </div>
        </div>
        <div class="center" ng-show="vm.haveRescues">
            Rescues found using zip code: {{ vm.currentUser.zip }}<br>
            <md-button class="md-raised md-accent" ng-click="vm.getNewZipCode(vm.dog.breed)">
                Use Other Zip Code
            </md-button>
        </div>
        <div class="center" ng-if="vm.noRescues">
            No rescues found.
        </div>
        <div class="adoptables" ng-repeat="adoptable in vm.adoptables" layout="row" layout-padding>
            <a href="" ng-click="vm.showAdoptable($event, adoptable)">
                <div ng-show="adoptable.media.photos.photo[1].$t" layout="column">
                    <img class="thumbnail" ng-src="{{ adoptable.media.photos.photo[1].$t }}" />
                </div>
                <div ng-hide="adoptable.media.photos.photo[1].$t" layout="column">
                    <img class="thumbnail" src="/images/NoPhoto.png" />
                </div>
            </a>
            <div layout="column" layout-align="center start" layout-wrap>
                {{ adoptable.name.$t }},&nbsp;
                {{ adoptable.sex.$t }},&nbsp;
                {{ adoptable.age.$t }}
                <div class="rescue-off" id="{{adoptable.id.$t}}" layout-align="start center">
                        TRACKING
                </div>
            </div>
        </div>
 <!--   </md-content> -->
    </div>
    <div class="md-padding" flex="50" flex-xs="100" flex-sm="100" flex-md="100">
        <div layout="row">
            <md-card flex="100">  
                <md-card-content ng-if="vm.dog.imageURL2" layout-align="center">
                    <img ng-src="{{ vm.dog.imageURL2 }}" alt="{{ vm.dog.breed }}" ng-hide="showStd">
                    <h2 class="center"> {{ vm.dog.breed }}</h2>
                </md-card-content>
                <md-card-content ng-if="!vm.dog.imageURL2">
                    <a ng-href="{{ dog.imageRef }}" title="{{ dog.imageTitle }}">
                        <img ng-src="{{ vm.dog.imageURL }}" alt="{{ vm.dog.breed }}" ng-hide="showStd">
                    </a>
                    <h2> {{ vm.dog.breed }}</h2>
                </md-card-content>
            </md-card>
        </div>
        <div layout="row" layout-xs="column" layout-sm="column" layout-md="column">
            <md-card flex="100" layout="column" flex-md="45" flex-lg="45" flex="45">
                <md-card-content flex>
                    <div class="center">
                        <div layout="row">
                            <div flex="30"><p class="detail-heading">Energy</p></div>
                            <div flex="30"><p class="detail-heading">Size</p></div>
                            <div flex="30"><p class="detail-heading">Popularity</p></div>
                        </div>
                        <div layout="row">
                            <div class="nudge-down" flex="30"><i class="mdi mdi-48px {{ vm.dog.energyLevelClass }}"></i></div>
                            <div flex="30"><img class="icon icon-small" ng-src="/images/{{ vm.dog.size }}DogIcon.png"></div>
                            <div flex="30"><img class="icon icon-small" ng-src="/images/heart{{ vm.dog.akcRankHeart }}.png"></div>
                        </div>
                        <div layout="row">
                            <div flex="30" class="energy-level"><p>{{ vm.dog.energyLevel }}</p></div>
                            <div flex="30">{{ vm.dog.size }}</div>
                            <div flex="30" ng-show="vm.dog.akcRank">Ranked {{ vm.dog.akcRank }}{{ vm.dog.ordinal }}</div>
                            <div flex="30" ng-show="!vm.dog.akcRank">Not Ranked</div>
                        </div>
                    </div>
                    <hr>
                    <div layout="row">
                        <div class="icon-medium" flex="25" layout-fill layout-padding>
                            <p><img class="icon left" ng-src="/images/{{ vm.dog.groomIcon }}Groom.png">
                        </div>
                        <div flex="75">
                            <p class="detail-heading">Grooming</p>
                            {{ vm.dog.grooming }}
                        </div>
                    </div>
                    <div layout="row">
                        <div class="icon-medium" flex="25" layout-fill layout-padding>
                            <p><img class="icon left" ng-src="/images/{{ vm.dog.exerciseIcon }}Activity.png">
                        </div>
                        <div flex="75">
                            <p class="detail-heading">Exercise</p>
                            {{ vm.dog.exercise }}
                        </div>
                    </div>
                    <div layout="row">
                        <div class="icon-medium" flex="25" layout-fill layout-padding>
                            <p><img class="icon left" ng-src="/images/health.png">
                        </div>
                        <div flex="75">
                            <p class="detail-heading">Health</p>
                            {{ vm.dog.health }}
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <md-card flex="100" layout="column" flex-md="55" flex-lg="55" flex="55">
                <md-card-content  layout-padding flex>
                    <div class="center" layout="row">
                        <md-card md-theme="dark-teal" md-whiteframe="1" layout-fill>
                            <md-card-content class="short-desc">
                                {{ vm.dog.shortDesc }}
                            </md-card-content>
                        </md-card>
                    </div>
                    <div layout="column" id="longDesc">

                    </div>
                    <md-card-actions layout="row" layout-wrap layout-align="space-around center">
                        <div ng-hide="!vm.dog.breedStandard">
                            <a href="{{ vm.dog.breedStandard }}" target="_blank">
                                <md-button><i class="mdi mdi-18px mdi-arrow-right-bold-circle-outline"></i> Breed Standard</md-button>
                            </a>
                        </div>
                        <div>
                            <a href="{{ vm.dog.clubURL }}" target="_blank">
                                <md-button><i class="mdi mdi-18px mdi-arrow-right-bold-circle-outline"></i> Breed Club</md-button>
                            </a>
                        </div>
                    </md-card-actions>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div class="md-padding" flex="20" flex-xs="100" flex-sm="100" flex-md="100">
        <div layout="row" layout-align="center center" layout-padding>
            <md-button class="md-warn md-raised md-ink" ng-click="vm.toggleFavorite(vm.dog._id, vm.dog.breed)" aria-label="toggle Favorite" >
                <span style="color: white;" ng-show="vm.dog.favClass == 'paw fav-on'">Remove from Favorites</span>
                <span style="color: white;" ng-show="vm.dog.favClass == 'paw fav-off'">Save to Favorites</span>
            </md-button>
        </div>
        <div class="videowrapper" ng-repeat="video in vm.videos" layout="row">
            <iframe ng-src="{{ vm.getIframeSrc(video.id.videoId) }}" frameborder="0" allowfullscreen></iframe> 
        </div>
        <div layout="column" flex-sm="row" flex-md="row" flex-xs="row" layout-wrap>
            <div ng-show="vm.dog.hypoallergenic">
                <md-chips>
                    <md-chip>
                        <strong>Hypoallergenic</strong>
                    </md-chip>
                </md-chips>
            </div>
            <div ng-show="vm.dog.shedding">
                <md-chips>
                    <md-chip>
                        <strong>{{ vm.dog.shedding }} Shedder</strong>
                    </md-chip>
                </md-chips>
            </div>
            <div ng-show="vm.dog.bestOf.family">
                <md-chips>
                    <md-chip>
                        <strong>Great Family Dog</strong>
                    </md-chip>
                </md-chips>
            </div>
            <div ng-show="vm.dog.bestOf.apartment">
                <md-chips>
                    <md-chip>
                        <strong>Great Apartment Dog</strong>
                    </md-chip>
                </md-chips>
            </div>
            <div ng-show="vm.dog.bestOf.active">
                <md-chips>
                    <md-chip>
                        <strong>Loves to be Active</strong>
                    </md-chip>
                </md-chips>
            </div>
            <div ng-show="vm.dog.bestOf.guard">
                <md-chips>
                    <md-chip>
                        <strong>Natural Guard Dog</strong>
                    </md-chip>
                </md-chips>
            </div>
            <div ng-show="vm.dog.bestOf.quiet">
                <md-chips>
                    <md-chip>
                        <strong>Typically Quiet Dog</strong>
                    </md-chip>
                </md-chips>
            </div>
            <div ng-show="vm.dog.bestOf.lowMaintenance">
                <md-chips>
                    <md-chip>
                        <strong>Low Maintenance</strong>
                    </md-chip>
                </md-chips>
            </div>
            <div ng-show="vm.dog.function">
                <md-chips>
                    <md-chip>
                        <strong>{{ vm.dog.function }} Dog</strong>
                    </md-chip>
                </md-chips>
            </div>
            <div ng-show="vm.dog.type">
                <md-chips>
                    <md-chip>
                        <strong>{{ vm.dog.type }} Group</strong>
                    </md-chip>
                </md-chips>
            </div>
        </div> 
    </div>
    
</md-content>

<div layout="column" flex="100" hide show-gt-sm>
    <footer-bar></footer-bar>
</div>